version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
